@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: 0.3s;
}
.dashboard > .active {
  background: rgba(0, 10, 27, 0.74) !important;
  color: white !important;
}
.scroll-none::-webkit-scrollbar {
  display: none;
}
/* .swiper-pagination {
  margin-bottom: -20px !important;
} */
.swiper-pagination-bullet-active {
  background: #0056b3 !important;
}

.scroll-animation {
  animation: animationTimeline;
  animation-timeline: view();
}

@keyframes animationTimeline {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  12% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
